html,body{
  .dataLists{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: .2rem;
    margin-top: auto;
    .content-list{
      position:relative;
      width: 50%;
      height:20%;
      text-align: center;
      margin: 0.02rem 0;
      border:0.03rem solid #f2f2f2;
      box-sizing:border-box;
      border-left:none;
      .listPicture{width: 100%;height:100%}
      .listTitle{
        position:absolute;
        left: .4rem;
        top:0.08rem;
        color:#000000;

      }
      .listMark{
        position:absolute;
        left:.45rem;
        top:1rem;
        color:#a4a4a4;
        font-size: .25rem;
      }
    }
  }
}
