.cart-bg{
    height:100%;
    width:100%;
    background:#f0f0f0;
}
.cart-h{
    width:100%;
    height:1rem;
    background:#fff;
    border-bottom:0.01rem solid #9d9d9d;}
h3{
    text-align:center;
    line-height:1rem;
    font-size:0.34rem;
}
.container{
    background:#f0f0f0;
    width:100%;
    height:6rem;
}
img{
    height:1.28rem;
    width:1.28rem;
    display:block;
    margin:1.22rem auto 0.56rem;
}
p{
    text-align:center;
    color:#9d9d9d;
    font-size:0.24rem;

}
.btn{
   width:2.40rem;
    height:0.72rem;
    background:#0BB20C;
    margin:0.60rem 0.44rem 0.88rem 0;
    display:inline;
    font-size:0.26rem;

}
.collect{
    color:#fff;
    margin-left:0.94rem;
}
.shop{
    background:#fff;
    color:#0BB20C;
    border:0.01rem solid #0BB20C;
}
.container h5{
    text-align:center;
    font-size:0.24rem;
}

.tab{
    background:#fff;
}