.sort {
  height: 1rem;
  width: 100%;
  background: #fff;
  box-shadow: .2rem .01rem #ece6e62e;
  border-bottom: .01rem solid #f3e4e4;
  span {
    margin: 0;
    width: 100%;
    text-align: center;
    line-height: 1rem;
  }
}