.iconfont{
    font-size:.4rem;
}
.cart-up{
    width:100%;
    height:100%;
}
.top{
    height:1.27rem;
    width:100%;
    padding-right:0.39rem;
    border-bottom:0.01rem solid #f0f2f6;
}
.top .icon-fanhui{
    margin-left:.3rem;
    color:green;
    margin-right:1rem;
}
.top .icon-icon-yxj-a{
    display:inline-block;
    height:0.42rem;
    width:0.42rem;
    margin-right:0.2rem;
    line-height:1.27rem;

}
.top .dizhi{
    line-height:1.47rem;
    font-size:0.42rem;
    color:#1d1d1d;

}
.top .bianji{
    font-size:0.42rem;
    color:#69af05;
    float:right;
    line-height:1.47rem;
    margin-right:.4rem;
}
.container{
    width:100%;
}
.container .better{
    width:100%;
    height:1.22rem;
    border-bottom:0.02rem solid #f0f2f6;
}
.container .better .iconfont{
    float:left;
    margin-right:.4rem;
    line-height:1.22rem;
}
.container .better h5{
    float:left;
    font-size:0.42rem;
    color:#050505;
    margin-top:0.4rem;
}
.container .products{
    width:100%;

}
.container .product{
    border-bottom:0.03rem solid #f0f2f6;
}
.product .product-left{
    float: left;
    width: 40%;
    height: 2rem;
}
.product-left .iconfont{
    margin-top:1.29rem;
}
.product-left  img{
    width: 80%;
    height: 95%;
    margin-top:.25rem;
}
 .detail{
     width:60%;
     float:left;
     display: flex;
     align-items:center;
 }
.detail i{
    margin:.4rem .2rem 0 .3rem;
}
 .detail i,button{
     margin-right:.5rem;
 }
 .detail button{
    width:.5rem;
     height:1.5rem;
     font-size:.28rem;
     margin-top:.45rem;
     margin-right:.4rem;
 }
 .detail span{
     margin-right:.4rem;
     margin-top:.6rem;
 }
.wei{
    height:2rem;
    background:#f1f2f6;
}
.wei h5{
    font-size:.45rem;
    text-align:center;
    line-height:2rem;
    margin-top:.35rem;
}
.up-footer{
    position:fixed;
    left:0;
    bottom:7.5%;
    width:100%;
    height:1.2rem;
    padding-left:.36rem;
}
.up-footer .footer-left{
    height:100%;
    width:60%;
    float:left;
}
.up-footer .footer-left .iconfont{
    text-align:center;
    margin:.36rem .36rem .36rem 0;
}
.up-footer .footer-left .span1{
    font-size:.45rem;
}
.up-footer .footer-left .span2{
    color:#fa6400;
    font-size:.45rem;
    margin-right:1rem;
}
.up-footer .footer-left .span3{
    font-size:.36rem;

}
.up-footer button{
    position:absolute;
    right:-.5rem;
    bottom:0;
    height:1.2rem;
    width:40%;
    float:left;
    background:#69af05;
    color:#fff;
    font-size:.4rem;
}